<!doctype html>
<html lang="en">
<head>
    {{> parts/static}}
    <script language="JavaScript" type="text/javascript" src="/js/stars.js"> </script>
    <script language="JavaScript" type="text/javascript" src="/js/search.js"> </script>
    <link rel="stylesheet" type="text/css" href = "/css/search.css">
    <title>
        Your title
    </title>
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
</head>
<div>
    {{> parts/bar}}
    <div class="container">
        <div class="container">
            <div class="row">
                <h2>Find movie</h2>
                <div class="search">
                    <input id="text" type="text" class="form-control input-sm" maxlength="150" placeholder="Movie, serial ..." />
                    <button id="search" type="submit" class="btn btn-primary btn-sm">Search</button>
                </div>
            </div>
        </div>
        <div class="container">
                <br/>
                <br/>
                <h1>Search Results</h1>
            <section id="results" class="col-xs-12 col-sm-6 col-md-12"/>
        </div>
</div>
</body>
</html>