<!doctype html>
<html lang="en">
<head>
    {{> parts/static}}
    <script language="JavaScript" type="text/javascript" src="/js/watchlist.js"> </script>
    <link rel="stylesheet" type="text/css" href = "/css/search.css">
    <title>
        Your title
    </title>
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
</head>
<div>
    {{> parts/bar}}
    <div class="container">
        <section id="results" class="col-xs-12 col-sm-6 col-md-12"/>
    </div>
</div>
</body>
</html>